{% extends 'base.html.twig' %}

{% block body %}
<header>
    <h1>Gestion des Services pour Personnes Handicapées</h1>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <!-- Barre de navigation ou en-tête commun à toutes les pages -->
    <nav>
        <ul>
            <li><a href="{{ path('app_desacual') }}">Accueil</a></li>
            <li><a href="{{ path('app_service') }}">Recherche de Services</a></li> 
            <li><a href="#">Demande d'Aides</a></li>
            <li><a href="#">Planification de Rendez-vous</a></li>
            <li><a href="#">Communication</a></li>
            <!-- Boutons Login et Sign in -->
            <li class="login-signin-container">
                <a href="{{ path('app_login') }}" class="login-button">Login</a>
                <a href="{{ path('app_signin') }}" class="signin-button">Sign in</a>
            </li>
        </ul>
    </nav>
</header>

<div class="form-container">
    {{ form_start(form) }}
        {{ form_row(form.datTime) }}
        {{ form_row(form.reminder) }}
        {{ form_row(form.status) }}
        {{ form_row(form.utulisateur) }}
        {{ form_row(form.service) }}
        <button type="submit">Prendre rendez-vous</button>
    {{ form_end(form) }}
</div>

<footer>
    <!-- Pied de page commun à toutes les pages -->
    <p>&copy; {{ 'now'|date('Y') }} Gestion des Services pour Personnes Handicapées</p>
</footer>
{% endblock %}
