<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Gestion des Services pour Personnes Handicapées</title>
    <!-- Inclure votre fichier CSS global -->
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
</head>
<body>
    <header>
        <h1>Gestion des Services pour Personnes Handicapées</h1>
        <nav>
          <ul>
            <li><a href="{{ path('app_desacual') }}">Accueil</a></li>
            <li><a href="{{ path('app_service') }}">Recherche de Services</a></li> 
            <li><a href="#">Demande d'Aides</a></li>
            <li><a href="{{ path('app_rndvs') }}">Planification de Rendez-vous</a></li>
            <li><a href="#">Communication</a></li>
            <li class="login-signin-container">
                <a href="{{ path('app_login') }}" class="login-button">Login</a>
                <a href="{{ path('app_signin') }}" class="signin-button">Sign in</a>
            </li>
          </ul>
        </nav>
    </header>

    <main>
        {% block content %}
            {{ form_start(form) }}
                {{ form_row(form.name, {'label': 'Nom'}) }}
                {{ form_row(form.description, {'label': 'Description'}) }}
                {{ form_row(form.type, {'label': 'Type'}) }}
                <button type="submit">Enregistrer</button>
            {{ form_end(form) }}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ 'now'|date('Y') }} Gestion des Services pour Personnes Handicapées</p>
    </footer>
</body>
</html>
